body {
  background-color: black;
  color: lightgray;
  text-align: center;
}

.gojuuon {
  font-size: 120%;
  line-height: 180%;
}

.hassei {
  font-size: 100%;
  line-height: 150%;
}

@media screen and (max-width: 1200px) {
  .main {
    padding-left: 120px;
  }
  .gojuuon {
    font-size: 30px;
    line-height: 70px;
  }
  .recorder {
    background-color: #04AA6D; /* Green */
    position: fixed;
    bottom: 0;
    height: 100%;
    padding: 60px;
  }
  .recorder.recording {
    background-color: red;
  }
}
